#footer
  #footer-

  .footer-content

      div.static-links.light-dark-bg
        .content-item.cipos-2.cirpos-2.clearfix
          ul.footer-legals
            -for(var i=0;i<env.partnerData.headerLinks.length;i++){
              li
                a(href='#{env.partnerData.headerLinks[i].url}',target="_blank") #{env.partnerData.headerLinks[i].name}
            -}
                   
      div.static-links.dark-bg.follow-us-block
        .content-item.cipos-2.cirpos-2.clearfix
            
            div.follow-us-links.newsSocialIcons
              span.follow-label Follow: &nbsp;
              -if(env.partnerData.socialLinks.length){
                  ul(class="social_nav")
                      -for(var i=0;i<env.partnerData.socialLinks.length;i++){
                          li(class="#{env.partnerData.socialLinks[i].name}")
                              a(href="#{env.partnerData.socialLinks[i].url}",target="_blank")
                                amp-img(width="15", height="15",src="/images/social/#{env.partnerData.socialLinks[i].name}_icon.png")
                      -}
              -}
      .content-item.cipos-3.cirpos-1.clearfix
          .footer-copyright
            p.copyright Copyright &copy; 2017 - 2018.
            p.powered-by-hocalwire.pull-right
                | Powered by 
                a(href='http://hocalwire.com/') Hocalwire
   