.share-icon
    -var twitterTitle = data.title || meta.title
    -var type="open"
    -if(twitterTitle.length>110){
        -twitterTitle  = twitterTitle.substring(0,110)+"..."
    -}
    -var twitterData = "url="+encodeURIComponent(env.rootUrl+data.newsUrl)+"&text="+encodeURIComponent(twitterTitle)+(env.partnerData.twitter_handle?"&via="+env.partnerData.twitter_handle:'')
    -var typeNew = !type ? "right-navigation" : (type=="open" ? "" : (type ? type : "right-navigation"))  
    span.newsSocialIcons
        ul
            li(class="facebook")
                a(title="Facebook", href="http://www.facebook.com/share.php?u=#{env.rootUrl}#{newsUrl}", target="_blank")
                    amp-img(width="15", height="15", src="/images/social/facebook_icon.png",class="fb_social_icon_image social_icon_image")
            li(class="twitter")
                a(title="Twitter", href="http://twitter.com/intent/tweet?#{twitterData}", target="_blank")
                    amp-img(width="15", height="15", src="/images/social/twitter_icon.png",class="twitter_social_icon_image social_icon_image")
            li(class="googleplus")
                a(title="Google Plus", href="https://plus.google.com/share?url=#{env.rootUrl}#{newsUrl}", target="_blank")
                    amp-img(width="15", height="15", src="/images/social/gplus_icon.png",class="gplus_social_icon_image social_icon_image")
            li(class="linkedin")
                a(title="LinkedIn", href="http://www.linkedin.com/shareArticle?mini=true&url=#{env.rootUrl}#{newsUrl}&title=#{title}", target="_blank")
                    amp-img(width="15", height="15", src="/images/social/linkedin_icon.png",class="linkedin_social_icon_image social_icon_image")
            li(class="tumblr")
                a(title="Tumblr", href="http://www.tumblr.com/share/link?url=#{env.rootUrl}#{newsUrl}&name=#{title}", target="_blank")
                    amp-img(width="15", height="15", src="/images/social/tumblr_icon.png",class="tumblr_social_icon_image social_icon_image")
        
            li(class="pinterest")
                a(title="Pinterest", href="http://pinterest.com/pin/create/button/?url=#{env.rootUrl}#{newsUrl}", target="_blank")
                    amp-img(width="15", height="15", src="/images/social/pintrest_icon.png",class="pintrest_social_icon_image social_icon_image")
            
            li(class="whatsapp")
                div.whatsapp-img
                    a(href="whatsapp://send?text=#{encodeURIComponent(title)} #{env.rootUrl}#{newsUrl}") 
                        amp-img(width="15", height="15", src="/images/whatsapp.png") 
            