#footer-ads
.footer-content
    .content-item.cipos-1.cirpos-3.clearfix
        ul.footer-links
          div.nav-footer-logo
              a.homepage(href='/')
                img(src="/images/logo.png")
          
          li.nav-tool.nav-rss
              a(href='/rss-feed', target='') 
                i.fa.fa-rss.font-footer-icon
                | RSS
                i.fa.fa-caret-right.font-footer-icon-arrow-small
          li.nav-tool.nav-advertise
              a(href='/contact-us', target='') 
                i.fa.fa-dollar.font-footer-icon
                | Advertise
                i.fa.fa-caret-right.font-footer-icon-arrow-small
          li.nav-tool.nav-about-us
              a(href='/about-us', target='') 
                i.fa.fa-user.font-footer-icon
                | About Us
                i.fa.fa-caret-right.font-footer-icon-arrow-small
          li.nav-tool.nav-epaper.last
              a(href='http://epaper.thehawk.in', target='_blank') 
                i.fa.fa-newspaper-o.font-footer-icon
                | EPaper
                i.fa.fa-caret-right.font-footer-icon-arrow-small
    .footer-divider
    .content-item.cipos-2.cirpos-2.clearfix
        ul.footer-legals
          li.label-text Legal:
          li.nav-legals.nav-privacy-policy.first
              a(href='/privacy', target='') Privacy Policy
          
          li.nav-legals.nav-cookie-policy
              a(href='/privacy#cookies', target='_blank') Cookie Policy
          li.nav-legals.last(class='nav-terms-&-conditions')
              a(href='/terms-use', target='_blank') Terms &amp; Conditions
          li.nav-legals.last(class='nav-terms-&-conditions')
              a(href='/news/prnewswire', target='_blank') PR Newswire
    div.static-links.light-dark-bg
      .content-item.cipos-2.cirpos-2.clearfix
        ul.footer-legals
          li.nav-legals.nav-privacy-policy.first
              a(href='/', target='') Home
          li.nav-legals.nav-relevant-ad-opt-out
              a(href='/contact-us', target='') Contact Us
          li.nav-legals.nav-relevant-ad-opt-out
              a(href='/admin', target='') Send News
          
          li.nav-legals.nav-relevant-ad-opt-out
              a(href='javascript:void(0)', target='') Hindi News
          
          li.nav-legals.nav-relevant-ad-opt-out
              a(href='/mobileApp', target='') Mobile App
          li.nav-legals.nav-relevant-ad-opt-out
              a(href='/authors', target='') Authors

    
      -if(env.partnerData.trendingTags && env.partnerData.trendingTags.length >0){
        .content-item.cipos-2.cirpos-2.clearfix 
          ul.footer-legals.trending-tags
            li.label-text.trending-label-text Trending Topics
            -for(var i=0;i<env.partnerData.trendingTags.length-1;i++){
              li
                a.current-page(href="#{env.rootUrl}/search?search=#{env.partnerData.trendingTags[i].value}&search_type=tags") #{env.partnerData.trendingTags[i].name}
                    span &nbsp;|&nbsp;
            -}
        
            li
              a.current-page(href="#{env.rootUrl}/search?search=#{env.partnerData.trendingTags[env.partnerData.trendingTags.length-1].value}&search_type=tags") #{env.partnerData.trendingTags[env.partnerData.trendingTags.length-1].name}
             
      -}
    div.static-links.dark-bg.follow-us-block
      .content-item.cipos-2.cirpos-2.clearfix
          div.follow-us-lable  Follow Us On
          div.follow-us-links.newsSocialIcons
            -if(env.partnerData.socialLinks.length){
                ul.social_nav
                    -if(env.partnerData.externalSite){
                        li.external-site-name
                            a(href="#{env.partnerData.externalSite.url}") #{env.partnerData.externalSite.name}
                    -}
                    -for(var i=0;i<env.partnerData.socialLinks.length;i++){
                        li(class="#{env.partnerData.socialLinks[i].name}")
                            a(href="#{env.partnerData.socialLinks[i].url}",target="_blank")
                              img(src="/images/social/#{env.partnerData.socialLinks[i].name}_icon.png")
                    -}
            -}

    .content-item.cipos-3.cirpos-1.clearfix
        .footer-copyright
          p.copyright Copyright &copy; The Hawk 2017 - 2018. All times on this site are local browser time.
          p.powered-by-hocalwire.pull-right
              | Powered by 
              a(href='http://hocalwire.com/') Hocalwire
 