
-if(environment === 'development') {
    link(rel="stylesheet", type="text/css", href="/recommended/styles/style.css")
-} else {
    link(rel="stylesheet", type="text/css", href="/styles/recommended.min.dff811a6.css")
-}

div#recommended-wrapper.recommended-container.body_wraper_box.twelve.columns
    div.recommended-heading-wrapper
        span.recommended-heading Recommended For You
        span.recommended-powered-by.pull_right Powered By 
            a(href="http://hocalwire.com",target="_blank") Hocalwire
    div.recommended-content-wrapper
        div(class="widget post_list_medium_widget builder_belowpost color-5")
            div(class="widget_container #{data.data.length}")
                -if(data.data.length>0){
                    div(class="grid-wrapper #{data.templateData ? data.templateData.container_class : ''}")
                        -for(var i=0;i<data.data.length;i++){
                            div(class="recom_grid_3 grid margin2 grid-item small")
                                div(class="image_post feature-item box-1")
                                    a(href="#{data.data[i].newsUrl}", class="feature-link", title="#{data.data[i].title}")  
                                        !{Utils.getMediaElement(data.data[i],0,500,300,false,"class='attachment-feature-grid size-feature-grid wp-post-image'")} 
                                    div(class="caption-overlay")
                                        div(class="hold_category_post_type")
                                        a(href="#{data.data[i].newsUrl}", title="#{data.data[i].title}", class="inside")
                                            h3 !{data.data[i].title} 
                                            -if(data.data[i].date) {
                                                span.convert-to-localtime(data-datestring = "#{data.data[i].date}") #{data.data[i].date}
                                            -}
                                            
                                                
                        -}
                -}else {
                    center
                        div.center.loader-center
                            img(src="/images/loading.gif")
                -}
                
 