- if(environment === 'development') {
    style(type="text/css")
        include ../../public/styles/pickaday.css
- } else {
    style(type='text/css')
       include ../../public/styles/pickaday.css
- }

-if(env.lazyloadResources){
    - if(environment === 'development') {
        script(src="#{Utils.getCDNUrl('scripts/pickaday.min.js')}",pageScript="true")
        script(src="#{Utils.getCDNUrl('scripts/epaper.js')}",pageScript="true")
    - } else {
        script.
            var loadDeferredStylesPDF = function() {
                var head = document.getElementsByTagName("head")[0];
                var s = document.createElement("script");
                s.type = "text/javascript";
                s.src = "/scripts/epaperjs.min.6173c36e.js";
                head.appendChild(s);
                var event = new CustomEvent("EPAPER_RESOURCES_LOADED", { "detail": "ALL PDF DEPENDENCIES LOADED" });
                document.dispatchEvent(event);
                var event = new CustomEvent("EXTRA_PAGE_RESOURCES_LOADED", { "detail": "ALL DEPENDENCIES LOADED" });
                document.dispatchEvent(event);
            
            };
            document.addEventListener("RESOURCES_LOADED", function(e) {
                loadDeferredStylesPDF();
            });
        
    - }

-} else {
    - if(environment === 'development') {
        script(src="#{Utils.getCDNUrl('scripts/pickaday.min.js')}",pageScript="true")
        script(src="#{Utils.getCDNUrl('scripts/epaper.js')}",pageScript="true")
    - } else {
        script(src="#{Utils.getCDNUrl('scripts/epaperjs.min.6173c36e.js')}",pageScript="true")
    - }
-}
 