div(class="epaper-filter") 
    span(class="epaper-filter-item")
      -if(data.mainCatNews && data.mainCatNews.customDates && data.mainCatNews.customDates.length > 0) {
        div(class='select-style')
          select#epaper-publish-date(data-category="epaper-filter",data-label="filter-date-select" class='selectpicker track-change', name='publish-date')
            -for(var i=0 ; i<data.mainCatNews.customDates.length ; i++) {
              -if(env.ePaperDate && env.ePaperDate==data.mainCatNews.customDates[i].date_paper){
                option(selected="selected",value='#{data.mainCatNews.customDates[i].date_paper}') #{data.mainCatNews.customDates[i].date_paper}
              -} else {
                  option(value='#{data.mainCatNews.customDates[i].date_paper}') #{data.mainCatNews.customDates[i].date_paper}
                -}
            -}
      -} else {
          input#epaper-datepicker.track-click.track-change(data-category="epaper-filter",data-label="filter-date-select", type='text',value="#{env.ePaperDate ? env.ePaperDate:'select date'}")
        -}
    -if(env.partnerData.epaperLocationsUrls && env.partnerData.epaperLocationsUrls.length >0) {
        span(class="epaper-filter-item")
            select#epaper-location(class='selectpicker track-change',data-category="epaper-filter",data-label="filter-location-select", name='location')
                -for(var i=0 ; i<env.partnerData.epaperLocations.length ; i++) {
                    -if(env.ePaperLocation && env.ePaperLocation==env.partnerData.epaperLocationsUrls[i]){
                        option(selected="selected",value='#{env.partnerData.epaperLocationsUrls[i]}') #{env.partnerData.epaperLocations[i]}
                    -} else {
                        option(value='#{env.partnerData.epaperLocationsUrls[i]}') #{env.partnerData.epaperLocations[i]}
                    -}
                    
                -}
    -}
    a.epaper-filter-item.js-apply-epaper-button.epaper-apply.track-click(data-category="epaper-filter",data-label="apply") Apply