-var pd = data.profileData
section
    .container(style='margin-top: 30px;')
        .profile-head
            .col-sm-4.col-md-4.col-xs-12
                .profile-detail-card#profile
                        div(style='background:#e6f2f3;padding:5px;margin: -15px;border-bottom: 1px solid #CCC;margin-bottom: 5px;')
                            -if(pd.image){
                                img.img-responsive(src='#{pd.image}')
                            -} else {
                                img.img-responsive(src='/images/authorplaceholder.jpg')
                            -}
                            h2.align-center.heading-profile(style="font-size:1.3em;padding: 8px 5px 2px 5px;") !{pd.nickName?pd.nickName:pd.firstName}
                            
                        -if(pd.dob){
                            div               
                                h4(style="display:inline-block;")
                                    b
                                        | Birth Date :
                                h4(style="display:inline-block; padding-left:5px;  font-size:1.1em;") !{pd.dob}
                        -}
                        -if(pd.userId){
                            div
                                h4(style="display:inline-block;") 
                                    b
                                        | Profile Id :
                                h4(style="display:inline-block; padding-left:5px;  font-size:1.1em;") !{pd.userId}
                        -}
                        -if(pd.phoneNo){
                            div
                                h4(style="display:inline-block;") Mobile :
                                h4(style="display:inline-block; padding-left:5px;  font-size:1.1em;") !{pd.phoneNo}
                        -}
                        -if(pd.email){
                            div
                                h4(style="display:inline-block;") Email : 
                                h4(style="display:inline-block;font-size:1.1em; padding-left:5px;") !{pd.email}
                        -} 
                        -if(pd.address){
                            div
                                h4(style="display:inline-block;") 
                                    b
                                        Address : 
                                h4(style="display:inline-block;padding-left:5px;font-size:1.1em;") !{pd.address}
                        -}
                        
                        -if(pd.description){
                            div
                                h4(style="display:inline-block;")  Description: 

                                    p(style=" font-size:1.2em; padding-left:5px;") #{pd.description}
                        -}
                        div(style="text-align:center;margin-top:10px;")
                            .profile-page-action-message.hide(style='padding: 5px;')
                            a(href="/pricing", class='hocal_button' style='color: #FFF;padding: 8px 10px;') Subscribe Plans
                            //- a(href="/user/trial-request" class='hocal_button' style='color: #FFF;padding: 8px 10px;') Request Trial
                    
            .col-sm-8.col-md-8.col-xs-12
                .profile-detail-card
                    #exTab1.container
                        ul.nav.nav-pills
                            li.active
                                a(href='#1a', data-toggle='tab') Subscription Details
                            li
                                a(href='#2a', data-toggle='tab') Payment Details 
                            li
                                a(href='#3a', data-toggle='tab') Edit Profile
                            li
                                a(href='#4a', data-toggle='tab') Additional Profile
                            li
                                a(href='#4a', data-toggle='tab') Billing Information
                            
                        .tab-content.clearfix
                            #1a.tab-pane.active
                                include user/_subscriptionDetailsOnProfile
                                
                            #2a.tab-pane
                                include user/_paymentDetailsOnProfile
                                
                            #3a.tab-pane
                                #change.tab-pane.fade
                                    .container.fom-main
                                //- .row
                                //-     .col-sm-12
                                //-         h2.register Edit Your Profile
                                //-     // col-sm-12 close
                                // row close
                                br
                                .row
                                    form#contact_form.form-horizontal.main_form.text-left(action=' ', method='post')
                                        fieldset
                                            .form-group.col-md-12
                                                label.col-md-10.control-label First Name
                                                .col-md-12.inputGroupContainer
                                                    .input-group
                                                        input.form-control(name='first_name', placeholder='First Name',value="#{pd.firstName}", type='text')
                                            // Text input
                                            .form-group.col-md-12
                                                label.col-md-10.control-label Last Name
                                                .col-md-12.inputGroupContainer
                                                    .input-group
                                                        input.form-control(value="#{pd.lastName}", name='last_name', placeholder='Last Name', type='text')
                                            // Text input
                                            .form-group.col-md-12
                                                label.col-md-10.control-label E-Mail
                                                .col-md-12.inputGroupContainer
                                                    .input-group
                                                        input.form-control(value="#{pd.email}",name='email', placeholder='E-Mail Address', type='text')
                                            // Text input
                                            .form-group.col-md-12
                                                label.col-md-10.control-label Phone #
                                                .col-md-12.inputGroupContainer
                                                    .input-group
                                                        input.form-control(value="#{pd.phoneNo}",name='phone', placeholder='(845)555-1212', type='text')
                                            //- // Text input
                                            //- .form-group.col-md-12
                                            //-     label.col-md-10.control-label Address
                                            //-     .col-md-12.inputGroupContainer
                                            //-         .input-group
                                            //-             textarea.form-control(value="#{pd.address}",name='comment', placeholder='Project Description')
                                            

                                            .form-group.col-md-12
                                                label.col-md-10.control-label Gender
                                                .col-md-6
                                                    .radio.col-md-4
                                                        label
                                                            input(type='radio', name='hosting', value='MALE')
                                                            |  Male
                                                    .radio.col-md-4
                                                        label
                                                            input(type='radio', name='hosting', value='FEMALE')
                                                            |  Female
                                                    .radio.col-md-4
                                                        label
                                                            input(type='radio', name='hosting', value='OTHER')
                                                            |  Other
                                            .col-md-12.text-left
                                                .uplod-picture
                                                    span.btn.btn-default.uplod-file
                                                        | Upload Photo 
                                                        input(type='file', name='imageUpload', id="imageUpload")
                                                    input(style="display:none;" type="text" value="#{pd.imageId}")
                                          
                                    .form-group.col-md-12
                                        .col-md-6
                                            .fright
                                                a.btn.btn-warning.submit-button.submit-profile-details(type='submit') Save
                                        .col-md-6
                                            a.btn.btn-warning.submit-button(type='text') Cancel
                            #4a.tab-pane.clearfix
                                -if(env.partnerData.profileExtraInformation == "true"){
                                    .form-group.col-md-12
                                        #other_details
                                -}
                                .form-group.col-md-12
                                    .col-md-6
                                        .fright
                                            a.js-submit-register-form.btn.btn-warning.submit-button(type='submit') Save
                                    .col-md-6
                                        a.btn.btn-warning.submit-button(type='text') Cancel