
script(pageScript="true").
    //- window.enquiryDetails = Math.random();
    window.allScriptsTemplate = !{JSON.stringify(env.asyncTemplates)};
div(id="small-dialog", class="mfp-hide")
-if(environment === 'development') {
    -if('!{env.partnerData.extraStylePath}'!="undefined" && '!{env.partnerData.extraStylePath}'!=""){
        style.
            !{env.partnerStylingData}
    -}
-}
-if(!env.partnerData.remove_location_btn){
    // -if(!env.partnerData.disable_location_settings_website){
    //     #floating-location-container.hide
    //         a#floating-button(href="https://hocalwire.com/get-geo?domain_partner="+env.partner+"&domain="+(encodeURIComponent(env.rootUrl)),target="_blank")
    //             img.location(src="/images/location.png")
    // -} else {
    //     #floating-location-container.hide.no-manatory-loc
    //         a#floating-button(href="https://hocalwire.com/get-geo?domain_partner="+env.partner+"&domain="+(encodeURIComponent(env.rootUrl)),target="_blank")
    //             img.location(src="/images/location.png")
    // -}
-}
-if(env.partnerData.use_common_logged_in_profile_button){
    -if(env.partnerData.use_common_logged_in_profile_button.toUpperCase()=="TRUE" || (env.partnerData.use_common_logged_in_profile_button.toUpperCase()=="LOGGED_ONLY" && env.isLoggedInUser)){
        include commonLoggedInProfileBtn
    -}
-}
div#floating-extra-container

div#fixed-bottom-content.hide
-var minStickyWith = env.partnerData.min_sticky_side_width || 1000
div#hidden_element_for_width
div#hidden_element_for_desktop
div#hidden_element_for_tablet
-if(env.partnerData.allow_capture_screen_snap){
    a#snap_share_button(href='javascript: void(0)', title='Snap Share')
        img(src='/images/social/print_icon.png')
   
-}
-if(env.refreshPageOnBack){
    input(type="hidden", id="refresh_page", value="no")
    script.
        var input = document.getElementById('refresh_page');
        if(input.value=='yes'){
            var l = window.location.href;
            if(l.indexOf("page_reload==true")>-1){
                window.location.href=l;
            }
            if(l.indexOf("?")>-1){
                l=l+"&page_reload=true";
            } else {
                l=l+"?page_reload=true";
            }
            window.location.href=l;
        } else {
            input.value='yes';
        }
-}
+includeElement(data,"body_bottom_sync")
+includeElement(data,"after_everything")

style.
    #hidden_element_for_desktop {
        display:block;
        height:0px;
    }
    #hidden_element_for_tablet {
        display:none;
        height:0px;
    }
    @media(max-width:!{minStickyWith-1}px ){
        #hidden_element_for_width {
            display:none;
        }
    }
    @media(min-width:!{minStickyWith}px ){
        #hidden_element_for_width {
            display:block;
            height:0px;
        }
    }
    @media(max-width:767px){
        #hidden_element_for_desktop {
            display:none;
        }
        #hidden_element_for_tablet {
            display:block;
        }
    }
    @media(max-width:479px){
        #hidden_element_for_desktop {
            display:none;
        }
        #hidden_element_for_tablet {
            display:none;
        }
    }
-if(env.partnerData.hasPushNoti){
    include notiAlert
-}


#gallery.pswp.hide(tabindex='-1', role='dialog', aria-hidden='true')
    .pswp__bg
    .pswp__scroll-wrap
        .pswp__container
            .pswp__item
            .pswp__item
            .pswp__item
        .pswp__ui.pswp__ui--hidden
            .pswp__top-bar
                .pswp__counter
                button.pswp__button.pswp__button--close(title='Close (Esc)')
                button.pswp__button.pswp__button--share(title='Share')
                button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                .pswp__preloader
                    .pswp__preloader__icn
                        .pswp__preloader__cut
                            .pswp__preloader__donut
            .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                .pswp__share-tooltip
              
            button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
            button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
            .pswp__caption
                .pswp__caption__center


-if(env.partnerData.check_for_ad_blokers){
    include detectAdBlocker
-}  
-if(env.partnerData.body_bottom_meta){
    | !{env.partnerData.body_bottom_meta}
-}
-if('!{env.partnerData.extraStylePath}'!="undefined" && '!{env.partnerData.extraStylePath}'!=""){
    style.
        !{env.partnerStylingData}
-}
script(type='text/javascript').
    window.checkForAdBlockerGA = function(code){
        if(window.ga && code=="1"){
            console.log("sending GA event for adblock");
            window.ga('common.send', 'event',"ad-block","detected","!{env.partner}");
            window.ga('common2.send', 'event',"ad-block","detected","!{env.partner}");
        }
    }
script(async src='/scripts/ads.js', type='text/javascript',onload="window.checkForAdBlockerGA('0')",onerror="window.checkForAdBlockerGA('1')")



#MODAL_DIALOG_PLACEHOLDER



