-if(env.partnerData.body_top_meta){
    | !{env.partnerData.body_top_meta}
-}

-if(env.pageType=="article"){
    include ../partials/_articleSchema
-} else if(env.pageType=="website"){
    include ../partials/_websiteSchema
-} 

div(id="fb-root")
//- include fbCode 
div#content-style
    block styles
div.ui-loader-new.hide
//- a.scrollToTop(href='#')
//-   i.fa.fa-angle-up
#left-ad-full-screen.hide
#right-ad-full-screen.hide
include _syncHtmlContent
include _syncFileContent
include _includeElement
include _placeHolderMixin
include authors/_authorVone
include socialShare
include socialShareMixed
include photoGalleryFromMediaIds
include photoGalleryModalCarousel


div#generic_ad_block_before
div#content(data-sessionid="#{env.requestSessionId}", data-root="#{env.rootUrl}", data-registration-mode="#{env.partnerData.registration_verification_mode}",data-partner="#{env.partner}",has-ga-store-key="#{env.has_ga_store_key ? env.has_ga_store_key: ''}",data-newsid = "#{env.newsId ? env.newsId : ''}",data-path="#{env.pathname}",data-logging-enabled="#{env.partnerData.enable_logging?env.partnerData.enable_logging:''}",request-id="#{env.requestId ? env.requestId : ''}",data-referer="#{env.referer?env.referer:''}",class="#{env.partnerData.use_pretty_photo ? 'prettyphoto' :''}",data-userid="#{env.isLoggedInUser ? env.partnerLoginData.userId: ''}",data-cdnurl="#{env.CDNURL}",data-query-sessionid="#{env.querySessionId}", data-query-root="#{env.queryhost}",data-query-partner="#{env.queryPartner}",data-ismobile="#{env.isMobile ||''}")
    -if(env.partnerData.before_content_meta){
        | !{env.partnerData.before_content_meta}
    -}
    div.before_content_mask
    block content
    div.after_content_mask
    -if(env.partnerData.after_content_meta){
        | !{env.partnerData.after_content_meta}
    -}
div#generic_ad_block   
include popup_overlay

-if(env.partnerData.enable_transliteration){
    script(async,type="text/javascript", src="https://www.google.com/jsapi")
    script(pageScript="true").
        window.enableTransliteration="!{env.partnerData.enable_transliteration}";
-}
-if(env.partnerData.enableSocialSubscribe){
    include stickySocialSubscribe
    +stickySocialSubscribe()
    script.
        window.USER_SOCIAL_SUBSCRIPTION_ENABLED = true;
-}