
script(src="#{Utils.getCDNUrl('bower_components/jquery/dist/jquery-1.11.2.min.js')}")
script(src="#{Utils.getCDNUrl('scripts/main.js')}")
script(src="#{Utils.getCDNUrl('scripts/promise.js')}")
script(src="#{Utils.getCDNUrl('scripts/ajaxHelper.js')}")
script(src="#{Utils.getCDNUrl('scripts/AnalyticsService.js')}")
script(src="#{Utils.getCDNUrl('scripts/UniversalGlobalService.js')}")
script(src="#{Utils.getCDNUrl('scripts/Utils.js')}")
script(src="#{Utils.getCDNUrl('scripts/classie.js')}")
script(src="#{Utils.getCDNUrl('scripts/uisearch.js')}")
script(src="#{Utils.getCDNUrl('scripts/jquery.unveil.js')}")
script(src="#{Utils.getCDNUrl('scripts/contactus.js')}")
script(src="#{Utils.getCDNUrl('scripts/notifications.js')}")
script(src="#{Utils.getCDNUrl('scripts/custom_notifications.js')}")
script(src="#{Utils.getCDNUrl('scripts/jquery.popup.js')}")
script(src="#{Utils.getCDNUrl('scripts/jquery-print.js')}")
//- script(src="#{Utils.getCDNUrl('scripts/pollScript.js')}")

script(src="#{Utils.getCDNUrl('scripts/pageTemplates.js')}")

//- remove these

//- script(src="#{Utils.getCDNUrl('cmstools/content-tools.min.js')}")
//- //- script(src="#{Utils.getCDNUrl('cmstools/app.js')}")
//- script(src="#{Utils.getCDNUrl('cmstools/sortable.js')}")
//- //- script(src="#{Utils.getCDNUrl('cmstools/jquery.duplicate.js')}")
//- link(rel="stylesheet", type="text/css", href="/cmstools/content-tools.min.css")
//- 	