mixin photoGalleryFromMediaIds(data,options)
    
    -var dontshowHeading = options.ignoreHeading || false
    -var t = new Date().getTime()+"-"+Math.floor((Math.random()*10000))
    -var width = options && options.width ? options.width : 300
    
    div.gallery-pintrest-grid-wrapper1
        -if(data.mediaIds.length>0){
            section(id="boxy-#{t}", class="clearfix boxy-gallery")
                -for(var i=0;i<data.mediaIds.length;i++){
                    -var caption = data.mediaCaptions[i]
                    -if(!caption || caption=="null"){ caption = "" }
                    -var title = data.photo_credit ? data.title +" - " + data.photo_credit : data.mediaOtherInfos.length>i ? data.title +" - "+data.mediaOtherInfos[i] : data.title 
                    -var mtype =Utils.getMediaType(data.mediaIds[i])
                    -var videoId = ""
                    -var mediaId = data.mediaIds[i]
                    -var thumbUrl = ""
                    -var videoUrl  = (mtype=="youtube" || mtype=="external" || mtype=="externalNoProtocol") ? Utils.getMediaUrl(data,false,"",i) : Utils.getMediaUrl(data,"",env.rootUrl,i)
                    -if(mtype=="youtube"){
                        -videoId = mediaId.trim().substring(3,mediaId.trim().length)
                        -thumbUrl = "/xhr/admin/downloadYoutubeThumb?videoId="+mediaId
                    -} else if(mtype=="video"){
                        -videoId = mediaId.trim().substring(6,mediaId.trim().length)
                        -thumbUrl = Utils.getMediaUrl(data,false,"",i)
                    -}
                    
                    -if(mtype=="video" || mtype=="youtube"){
                        figure(class="view_video clearfix child-element video_item",data-video-id="#{videoId}", data-video-type="#{mtype}",  data-video-path="#{videoUrl}", title="#{env.partnerData.fullArticleText || 'View Video'}") !{Utils.getMediaElement(data,i,500,300,true,"share-url='"+env.rootUrl+data.newsUrl+"' href='"+videoUrl+"'")}
                            figcaption(class="#{dontshowHeading ? 'hide': ''}")
                                h4 !{caption}
                            div.height-gallery-element
                    -} else {
                        figure.clearfix.child-element.image-item(data-url="#{thumbUrl}", data-image-item="true") !{Utils.getMediaElement(data,i,500,300,true,"share-url='"+env.rootUrl+data.newsUrl+"' href='"+videoUrl+"'")}
                            figcaption(class="#{dontshowHeading ? 'hide': ''}")
                                h4 !{caption}
                            div.height-gallery-element
                    -}
                    

                           
                -}
        -}
    script.
        window.galleryIds = window.galleryIds || [];
        window.galleryIds.push("#boxy-!{t}");