extends sendEmailLayout
block content
    .email_hocal#send-email-page(data-domain="#{env.rootUrl}")
        .email_hocal_top
            p.head Email This to Friend(s)
        .email_hocal_mid
            .leftcont
                .story
                    #story-content-type.hide(data-type="#{data.contentType}")
                    a#story-url(href='#{data.url || data.newsUrl || meta.url}', target='_parent', style='text-decoration:none;')
                        p.headline
                            span#story-title !{data.title}
                        div#story-image
                            !{Utils.getMediaElement(data,0,0,0,false)}
                    p.intro#story-description
                        !{Utils.trimSentence(data.story,200,"...").finalString}
            .rightcont
                form#emailarticle(name='emailarticle', method='post', action='')
                    .detailform
                        .cont
                            p.formhead Share this link with:
                            p.info_right (a max of 10 recipients)
                            .clr
                            input#to_email(name='to_email', type='text', value='')
                            p.info_right1 seperate multiple address with comma (,)
                        .cont
                            p.formhead Your Name:
                            input#name(name='name', type='text', value='')
                        .cont
                            p.formhead Your Email:
                            input#from_email(name='from_email', type='text', value='')
                        .cont
                            p.formhead Add a personal message:
                            label
                                textarea#message(name='message', cols='45', rows='4')
                            p.info_right1
                                | Maximum 
                                i#counter 400
                                |  chars
                        input#issubmit.js-submit-for-email(type='hidden', name='issubmit', value='1')
                        

                        
                        //- env.partnerData.use_captcha_in_share_by_email
                        -if(env.partnerData.use_captcha_in_share_by_email){  
                            .cont
                                p.formhead Security Code:
                            .cont#captcha_wrapper
                                div(class="g-recaptcha", data-sitekey="6LckiRcUAAAAANEvfVbKUEAUXeky4TQno0T2cZHk")
                        -}
                        
                        .cont
                            #status-message-div
                        .cont.submit-btn-wrapper
                            a.js-submit-for-email(href="javascript:void(0);") Share Now
                    

