mixin socialShare(newsUrl,title,showSharingImage,large,type,print_selector)
    -newsUrl = newsUrl || meta.url || "/"
    -if(newsUrl) {
        -if(newsUrl.indexOf("http") != 0) {
            -newsUrl = env.rootUrl + newsUrl
        -}
    -} else {
        -newsUrl = meta.url
    -}
    -var queryParams = "?utm_source="+(env.isMobile?'mobile-':'web-')+"social-share&utm_partner="+env.partner+"&utm_campaign=share&utm_medium="
    -var whatsappurl = newsUrl
    -if(whatsappurl.indexOf("http")!=0){
        -whatsappurl=env.rootUrl+whatsappurl +queryParams+'whatsapp'  
    -}
    -print_selector = print_selector || env.print_selector
    -if(showSharingImage) {
        div.sharing-caring
            img(src="/images/sharing-caring.png")
    -}
    -var twitterTitle = title || meta.title || ""
    -if(twitterTitle.length>110){
        -twitterTitle  = twitterTitle.substring(0,110)+"..."
    -}
    -var twitterData = "url="+encodeURIComponent(newsUrl+queryParams+'twitter')+"&text="+encodeURIComponent(twitterTitle)+(env.partnerData.twitter_handle?"&via="+env.partnerData.twitter_handle:'')
    -var typeNew = !type ? "right-navigation" : (type=="open" ? "" : (type ? type : "right-navigation"))  
    
    span.shareArticle.clearfix.asasdasdas
        span(class="newsSocialIcons clearfix #{large ? 'large' : ''} #{typeNew ? typeNew +' has-navigation' : ''}")
            ul(class="blog-share-socials")
                -if(typeNew){
                    li(class="shareTrigger")
                        img(src="/images/share.png")
                -}
                li(class="facebook #{env.partnerData.allowed_social_share_handles && env.partnerData.allowed_social_share_handles.length && env.partnerData.allowed_social_share_handles.indexOf('facebook')<0?'hide':''}")
                    a(title="Facebook", class="track-click", data-category="common-social-share",data-label="facebook-#{env.pageType}",href="http://www.facebook.com/share.php?u=#{encodeURIComponent(newsUrl+queryParams+'facebook')}", target="_blank")
                        img(src="/images/social/facebook_icon.png",class="fb_social_icon_image social_icon_image")
                li(class="twitter #{env.partnerData.allowed_social_share_handles && env.partnerData.allowed_social_share_handles.length && env.partnerData.allowed_social_share_handles.indexOf('twitter')<0?'hide':''}")
                    a(title="Twitter", class="track-click", data-category="common-social-share",data-label="facebook-#{env.pageType}", href="http://twitter.com/intent/tweet?#{twitterData}", target="_blank")
                        img(src="/images/social/twitter_icon.png",class="twitter_social_icon_image social_icon_image")
                li(class="googleplus #{env.partnerData.allowed_social_share_handles && env.partnerData.allowed_social_share_handles.length && env.partnerData.allowed_social_share_handles.indexOf('googleplus')<0?'hide':''}")
                    a(title="Google Plus", class="track-click", data-category="common-social-share",data-label="facebook-#{env.pageType}",  href="https://plus.google.com/share?url=#{encodeURIComponent(newsUrl+queryParams+'gplus')}", target="_blank")
                        img(src="/images/social/gplus_icon.png",class="gplus_social_icon_image social_icon_image")
                li(class="linkedin #{env.partnerData.allowed_social_share_handles && env.partnerData.allowed_social_share_handles.length && env.partnerData.allowed_social_share_handles.indexOf('linkedin')<0?'hide':''}")
                    a(title="LinkedIn", class="track-click", data-category="common-social-share",data-label="facebook-#{env.pageType}",  href="http://www.linkedin.com/shareArticle?mini=true&url=#{encodeURIComponent(newsUrl+queryParams+'linkedin')}&title=#{title}", target="_blank")
                        img(src="/images/social/linkedin_icon.png",class="linkedin_social_icon_image social_icon_image")
                li(class="tumblr #{env.partnerData.allowed_social_share_handles && env.partnerData.allowed_social_share_handles.length && env.partnerData.allowed_social_share_handles.indexOf('tumblr')<0?'hide':''}")
                    a(title="Tumblr", class="track-click", data-category="common-social-share",data-label="facebook-#{env.pageType}",  href="http://www.tumblr.com/share/link?url=#{encodeURIComponent(newsUrl+queryParams+'tubmlr')}&name=#{title}", target="_blank")
                        img(src="/images/social/tumblr_icon.png",class="tumblr_social_icon_image social_icon_image")
            
                li(class="pinterest #{env.partnerData.allowed_social_share_handles && env.partnerData.allowed_social_share_handles.length && env.partnerData.allowed_social_share_handles.indexOf('Pinterest')<0?'hide':''}")
                    a(title="Pinterest", class="track-click", data-category="common-social-share",data-label="facebook-#{env.pageType}",  href="http://pinterest.com/pin/create/button/?url=#{encodeURIComponent(newsUrl+queryParams+'linkedin')}", target="_blank")
                        img(src="/images/social/pintrest_icon.png",class="pintrest_social_icon_image social_icon_image")
                -if(env.isMobile){
                    -var newsContentWhatsapp = title+" "+whatsappurl
                    li(class="whatsapp #{env.partnerData.allowed_social_share_handles && env.partnerData.allowed_social_share_handles.length && env.partnerData.allowed_social_share_handles.indexOf('whatsapp')<0?'hide':''}")
                        div.whatsapp-img
                            a(class="track-click", data-category="common-social-share-#{env.partner}",data-label="whatsapp-#{env.pageType}-#{newsUrl}",  href="whatsapp://send?text=#{encodeURIComponent(newsContentWhatsapp)}") 
                                img(src="/images/whatsapp.png") 
                -}
                -if(env.isDynamicPage){
                    li(class="email #{env.partnerData.allowed_social_share_handles && env.partnerData.allowed_social_share_handles.length && env.partnerData.allowed_social_share_handles.indexOf('email')<0?'hide':''}")
                        a.js-share-article-by-email(class="track-click", data-category="common-social-share-#{env.partner}",data-label="email-#{env.pageType}-#{newsUrl}", href="javascript: void(0);" ,data-domain="#{env.rootUrl}", data-url="#{newsUrl+queryParams+'email'}", title='Share by Email')
                            img(src='/images/social/mail_icon.png')
                -}
                -if(!env.isMobile && env.partnerData.enable_page_print_option){
                    li(class="print")
                        -if(print_selector){
                            a(href='javascript: void(0)', class="track-click", data-category="common-social-share-#{env.partner}",data-label="print-#{env.pageType}-#{newsUrl}",title='Print',onclick="$('#{print_selector}').print()")
                                img(src='/images/social/print_icon.png')
                        -} else {
                            a(href='javascript: void(0)',class="track-click", data-category="common-social-share-#{env.partner}",data-label="print-#{env.pageType}-#{newsUrl}",  title='Print',onclick="$('#content').print()")
                                img(src='/images/social/print_icon.png')
                        -}
                        
                -}
                -if(env.partnerData.has_smart_share){
                    li(class="sshare clearfix",title="Hocalwire Smart Share",data-href="http://hocal.hocalwire.com/social_client/splash.jsp?newsId=#{env.newsId}&app=rdes&partner=#{env.partner}&url=#{newsUrl}&sessionId=#{env.requestSessionId}") 
                        a(href="javascript:void(0);", class="track-click", data-category="common-social-share-#{env.partner}",data-label="sshare-#{env.pageType}-#{newsUrl}", title="Hocalwire Smart Share")
                            span.hocal_share_button
                                div.left-sshare-img-wrapper
                                    img(src="/images/hocal_logo.png")
                                div.right-sshare
                                    span SShare
                -}
           
                
