mixin stickySocialSubscribe()
    .sticky-container.left-side-btn#fixed-subscribe-social
        .mobile-container
            div(class="fab hide", id="masterfab-ssubscribe",style="background:red;left:10px;" class="track-click", data-category="common-social-sticky-share-#{env.partner}",data-label="share-btn-#{env.pageType}-#{relativeUrl}")
                .logged-in.hide
                    a(href="#{env.partnerData.admin_page_url || 'http://'+env.partner+'.hocalwire.com'}/subscription_manage.jsp?trackingId=")
                        img(width='25', height='25', src="#{env.partnerData.homePageRoot || '/'}images/unsubscribe.png", alt='Share it',title='Share it on')
                
                .not-logged-in.hide
                    a(href="#{env.partnerData.admin_page_url || 'http://'+env.partner+'.hocalwire.com'}/subscribe.jsp?trackingId=")
                        img(width='25', height='25', src="#{env.partnerData.homePageRoot || '/'}images/subscribe.png", alt='Share it',title='Share it on')
            div(class="backdrop")
    style.
        #masterfab-ssubscribe a img {
            position: fixed;
            left: 15px;
            bottom: 106px;
        }
