mixin topHighlightCard(data)
    -if(data.data.length>0){
        .hocal-big-listing-wrapper.clearfix
            #hocal-feat-top-wrap.hocal-left.hocal-relative.hocal-slide-this
                .hocal-feat-top2-left-wrap.hocal-left.hocal-relative
                    .hocal-feat-top2-left.hocal-left.hocal-relative.hocal-big-img.hocal-slide-element
                        a(href='#{data.data[0].newsUrl}', rel='bookmark')
                            .hocal-feat-top2-left-img.hocal-left.hocal-relative
                                !{Utils.getMediaElement(data.data[0],0,500,300,true,"class='unlazy.reg-img.wp-post-image'")}
                                
                            .hocal-feat-top2-left-text
                                
                                h2.hocal-stand-title
                                    | !{data.data[0].title}
                                // span.hocal-side-list-cat
                                //     span.convert-to-localtime.date-only(data-datestring = "#{data.data[0].date_string}") #{data.data[0].date}
                -if(data.data.length>1){
                    .hocal-feat-top2-right-wrap.hocal-left.hocal-relative#rightsection_slider
                        -for(var i=1;i<data.data.length;i++){
                            .hocal-feat-top2-right.hocal-left.hocal-relative.hocal-small-img.hocal-slide-element
                                a(href='#{data.data[i].newsUrl}', rel='bookmark')
                                    .hocal-feat-top2-left-img.hocal-left.hocal-relative
                                        !{Utils.getMediaElement(data.data[i],0,500,300,true,"class='hocal-feat-top2-right-img left relative'")}
                                        
                                    .hocal-feat-top2-right-text
                                        
                                        h2.hocal-stand-title
                                            | !{data.data[i].title}
                                        // span.hocal-side-list-cat
                                        //     span.convert-to-localtime.date-only(data-datestring = "#{data.data[i].date_string}") #{data.data[i].date}
                        -}
                        
                -}
    -} else {
        -var props = {"templateData" : data.templateData,"rowCount":1,"colCount":1,"item_1_1":{"style":"style2","bigCount":2,"img":"medium","repeatCount":4,"smallCount":4}}
        +placeHolderMixin(props)
    -}