    var max = 600;
    var processed=0;
    (function() {
        // Load the script
        var script = document.createElement("SCRIPT");
        script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js';
        script.type = 'text/javascript';
        script.onload = function() {
            var $ = window.jQuery;
            // Use $ here...
        };
        document.getElementsByTagName("head")[0].appendChild(script);
    })();
    function createContent(data){

    }
    function stop(){
        processed=650;
    }
    var d = {};
    function getElement(item){
        return function(){
            return $(item);
        }
    }
    var savedoffset = 0;
    function action(){
    	var it = $(".chat");
        console.log(it.length);
    	var offsetElement;
        var lastOfset=900;
    	
        var count=0;
        var total = it.length;
        console.log("total count:"+total);
        var callback=function(){
            console.log("callback called"+count);
            count++;
            processed++;
            console.log("processed::::"+processed);
            if(processed>max){
                console.log("all processing compete******************");
                console.log(d);
                var final = "";
                var counter = 1;
                for(var k in d){
                    final = final +"("+counter+") Phone: "+d[k]['phone']+"\n";
                    final = final +" Message: "+d[k]['messages']+"\n";
                    var linkPhone = d[k]['phone'].split(" ").join("");
                    linkPhone = linkPhone.substring(1,linkPhone.length);
                    final = final +" Link To Send Whats app: http://hocalwire.com/send-whats-from-swastha-vichar?phone="+linkPhone+"&message_from="+encodeURIComponent(d[k]['messages'])+"\n\n\n";
                    counter++;
                }
                console.log(final);
                return;
            }
            if(count==total){
                console.log("all done");
                savedoffset=savedoffset+lastOfset;
                $(".chatlist-panel-body").scrollTop(savedoffset);
                setTimeout(function(){
                    console.log("calling action again");
                    action();
                },1000);
            } else {
                processChatItem($(it[count]),callback);
            }
        }
        processChatItem($(it[0]),callback);
        
    }
    function simulateMouseEvents(element, eventName) {
        var mouseEvent= document.createEvent ('MouseEvents');
        mouseEvent.initEvent (eventName, true, true);
        element.dispatchEvent (mouseEvent);
    }

    function processChatItem(item,callback){
        simulateMouseEvents(item[0], 'mousedown')
        var top = item.offset().top;
        if(top>savedoffset){
            savedoffset=top;
        }
        setTimeout(function(){
            
            $(".pane-chat-body").scrollTop(0);
            $(".pane-chat-body").scrollTop(0);
            setTimeout(function(){
                $(".pane-chat-body").scrollTop(0);
                $(".pane-chat-body").scrollTop(0);    
            },1000);
            
            setTimeout(function(){

                var msgs = $(".message-list").find(".msg .message-out");
                var shouldRead = false;
                
                console.log(msgs.length);

                for(var i=0;i<msgs.length;i++){
                    var msgI = $(msgs[i]);
                    var msg =msgI.find(".emojitext").text();
                    var valid = msg && msg.indexOf("वैद्य कायाकल्प से")>-1;
                    if(valid){
                        console.log("valid");
                        shouldRead=true;
                        break;
                    }
                }
                var msgs1 = $(".message-list").find(".msg .message-in");
                var text = "";
                for(var i=0;i<msgs1.length;i++){
                    var msgI = $(msgs1[i]);
                    var msg =msgI.find(".emojitext").text();
                    var valid = msg && msg.indexOf("via-")==0;
                    if(valid){
                        text=msg;
                        break;
                    }
                }
                if(!text){
                    text = "via-allytech afsdfasdfa";
                }
                if(shouldRead && text){

                    console.log("importan user"+text);
                    var o = getItemData(text,item);
                    d[o.phone] = o;
                    d[o.phone]['messages'] = [];
                    for(var i=0;i<msgs1.length;i++){
                        var msgI = $(msgs1[i]);
                        var msg =msgI.find(".emojitext").text();
                        d[o.phone]['messages'].push(msg);
                    }
                    d[o.phone]['messages'] = d[o.phone]['messages'].join(" \n ");
                    console.log(d);
                }
                callback();

            },3000);  
            
        },10);
        
    }

    function getItemData(msgText,item){
        console.log("--------------");
        var phone = $(".pane-chat-header .emojitext").text();
        if(phone.indexOf("last")>-1){
            phone = phone.substring(0,phone.indexOf("last"));
        }
        if(phone.indexOf("click")>-1){
            phone = phone.substring(0,phone.indexOf("click"));
        }
        if(phone.indexOf("online")>-1){
            phone = phone.substring(0,phone.indexOf("online"));
        }
        console.log(phone);
        console.log(msgText);
        var partner = msgText.split(" ")[0].split("-")[1];
        return {"phone":phone,"partner":partner};
    }