doctypemobile
html(dir='ltr')
  head
    script.
        window.ignorePageViewTracking=true;
    -meta.image="https://hocalwire.com/images/ads/image2.jpg"
    -meta.title="पाए मोटापे और डायबिटीज से छुटकारा , सिर्फ आयुर्वेदिक इलाज, घरेलु नुस्खों से, व्हाट्सप्प करे"
    -meta.description="पाए मोटापे और डायबिटीज से छुटकारा , सिर्फ आयुर्वेदिक इलाज, घरेलु नुस्खों से, व्हाट्सप्प करे"
    include ../headSectionTop
body
    block content
        .outer.nadi-ad.nadi-inline
            .level_1
                .hocal_row
                    div.video-player-wrapper.fallback-ad
                        

    script.

        var text = "https://api.whatsapp.com/send?phone=919811517287&text=!{encodeURIComponent('via-'+env.partner+' आयुर्वेद के इलाज के बारें में अधिक जानकारी उपलब्ध कराये, Whatsapp पर संपर्क करे')}";
        if("!{env.isBot}"==true){

        } else {
            window.location=text;
        }
        