mixin authorVone(data)
    div(class="hocalwire-cp-authors hocalwire-col-md-12")
        div(class="hocalwire-row")
            -var authorData = env.partnerPublicAuthorData
                -if(authorData.length>0){
                    -for(var count=0 ; count< authorData.length ; count+=3) {
                        -var limit = authorData.length >(count+3) ? count+3 : authorData.length
                        div(class="row")
                            -for(var i=count;i<limit ;i++){
                                div(class="hocalwire-col-md-4 hocal-grid")
                                    div(class='author-content')
                                        div(class="hocalwire-cp-thumb")
                                            a(href="#{authorData[i].url}", target="_blank") 
                                                img(src="#{authorData[i].imageUrl}")
                                        h4  
                                            a(href="#{authorData[i].url}", target="_blank") #{authorData[i].name}
                                        ul(class="hocalwire-cp-authors-social")
                                            -if(authorData[i].facebook){
                                                li(class="facebook")
                                                    a(title="Facebook", href="#{authorData[i].facebook}", target="_blank")
                                                        img(src="/images/social/facebook_icon.png",class="fb_social_icon_image social_icon_image")
                                            -}
                                            -if(authorData[i].twitter){
                                                li(class="twitter")
                                                    a(title="Twitter", href="#{authorData[i].twitter}", target="_blank")
                                                        img(src="/images/social/twitter_icon.png",class="twitter_social_icon_image social_icon_image")
                                            -}
                                            -if(authorData[i].googleplus){
                                                li(class="googleplus")
                                                    a(title="Google Plus", href="#{authorData[i].googleplus}", target="_blank")
                                                        img(src="/images/social/gplus_icon.png",class="gplus_social_icon_image social_icon_image")
                                            -}
                                            -if(authorData[i].linkedin){
                                                li(class="linkedin")
                                                    a(title="LinkedIn", href="#{authorData[i].linkedin}", target="_blank")
                                                        img(src="/images/social/linkedin_icon.png",class="linkedin_social_icon_image social_icon_image")
                                            -}
                                            // -if(authorData[i].instagram){
                                            //     li(class="instagram")
                                            //         a(title="Instagram", href="#{authorData[i].instagram}", target="_blank")
                                            //             img(src="/images/social/instagram_icon.png",class="instagram_social_icon_image social_icon_image")
                                            // -}
                                           
                                       
                            -}
                    -}
                      
                -}
            