mixin HocalAboutAuthorDetail(data)
    -var authorData = data.author
    -if(authorData){
        div(class='author-content-details clearfix')
            div.hocalwire-row
                .hocalwire-col-md-3
                    div(class="hocalwire-cp-thumb-round")
                        a(href="#{authorData.url}", target="_blank") 
                            img(src="#{authorData.imageUrl}")
                div.hocalwire-col-md-9
                    div.hocalwire-row
                        div.hocalwire-col-md-12
                            div.name_author
                                h4  

                                    a(href="#{authorData.url}", target="_blank") #{authorData.name}
                        div.hocalwire-col-md-12
                            div.author_desc
                                h4  
                                    a(href="#{authorData.url}", target="_blank") #{authorData.description}
                        div.hocalwire-col-md-12
                            ul(class="hocalwire-cp-authors-social")
                                -if(authorData.facebook){
                                    li(class="facebook")
                                        a(title="Facebook", href="#{authorData.facebook}", target="_blank")
                                            img(src="/images/social/facebook_icon.png",class="fb_social_icon_image social_icon_image")
                                -}
                                -if(authorData.twitter){
                                    li(class="twitter")
                                        a(title="Twitter", href="#{authorData.twitter}", target="_blank")
                                            img(src="/images/social/twitter_icon.png",class="twitter_social_icon_image social_icon_image")
                                -}
                                -if(authorData.googleplus){
                                    li(class="googleplus")
                                        a(title="Google Plus", href="#{authorData.googleplus}", target="_blank")
                                            img(src="/images/social/gplus_icon.png",class="gplus_social_icon_image social_icon_image")
                                -}
                                -if(authorData.linkedin){
                                    li(class="linkedin")
                                        a(title="LinkedIn", href="#{authorData.linkedin}", target="_blank")
                                            img(src="/images/social/linkedin_icon.png",class="linkedin_social_icon_image social_icon_image")
                                -}    
    -}
