include ../socialShare
.outer.nadi-ad.nadi-inline
    .level_1
        .hocal_row
            div.video-player-wrapper.image-ad
                -if(env.isMobile){
                    a.add-wrapper.image-ad-unit(href="tel:08595197197", onclick="$('.callback-wrapper').removeClass('hide');",data-category="nadi-ad",data-label="image-ad-4",data-ip="#{env.requestIp}")
                        img(src="/images/ads/image4.jpg")
                -} else {
                    a.add-wrapper.image-ad-unit(onclick="$('.callback-wrapper').removeClass('hide');",data-category="nadi-ad",data-label="image-ad-4",data-ip="#{env.requestIp}")
                        img(src="/images/ads/image4.jpg")
                -}
                -if(env.isMobile){
                    a.add-wrapper.video-ad-unit(href="tel:08595197197", onclick="$('.callback-wrapper').removeClass('hide');",data-category="nadi-ad",data-label="video-ad-1",data-ip="#{env.requestIp}")
                        img(src="/images/ads/call_now.jpg")
                -} else {
                    a.add-wrapper.video-ad-unit(onclick="$('.callback-wrapper').removeClass('hide');",data-category="nadi-ad",data-label="video-ad-1",data-ip="#{env.requestIp}")
                        img(src="/images/ads/call_now.jpg")
                -}

                a.add-wrapper.video-ad-unit(href="https://www.youtube.com/watch?v=8WP80nPw4EI&feature=youtu.be",onclick="$('.callback-wrapper').removeClass('hide');",target="_blank", data-category="nadi-ad",data-label="video-ad-1",data-ip="#{env.requestIp}")
                    img(src="/images/ads/watch_now.jpg")
                
        div.callback-wrapper.hide
            -env.adunitname="nadi-image-3"
            include callback-form


style.
    .image-ad .video-ad-unit img {
        max-width:48% !important;
        max-height:50px;
    }
    .nadi-inline {
        border: 1px solid #ccc;
        margin:5px;
        padding:2px;
        margin-bottom:10px;
        max-width:400px;
        text-align:center;
        margin:0px auto;
        width: 100%;
        display: block;
    }
    .nadi-ad-submit-btn {
        background: #13d413;
        padding: 5px;
        border-radius: 15px;
        color: #fff;
        margin-top:15px;
        margin-bottom:15px;
    }
    .nadi-ad-submit-btn:hover{
    color:#ccc;
    cursor: pointer;
    }
    .btn-hold{
        margin-top:15px;
        margin-bottom:15px;
    }
    .nadi-form-title{
    margin-bottom:15px;

    }
    .ad-input {
        width: 86%;
        height: 25px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
    }