.container
    br(clear='all')
    .row
        //- .col-md-12
        //-     span.pro-title.panel-heading.profile-page-heading Payment History Details
            
        .col-md-12
           div.payment-items
                div#payment_block
                    -for(var i=0;i<data.paymentData.length;i++){
                        -var item = data.paymentData[i]
                        .row
                            .col-md-12
                                table.table.bio-table
                                    tbody
                                        tr
                                            td Transaction Id
                                            td : #{item.txnId}
                                        tr
                                            td Amount
                                            td : #{item.currency} #{item.amount}
                                        
                                        tr
                                            td Date 
                                            td
                                                span.convert-to-localtime(data-datestring = "#{item.date_created}") #{item.date_created}
                                        tr
                                            td Status
                                            td : #{item.state}
                            
                    -}
                    
