-var dataV = data.mainCatNews
section#pricing-table
        .container
          .row
            .hocal_row
              .mainHeading
                h2.section-title Find a plan that’s right for you.,,,,
             -if(dataV && dataV.data && dataV.data.length>0){
              -for(var i=0;i<dataV.data.length;i++){
                .hocal_col.hocal_col_4
                  .table
                    .title
                      !{dataV.data[i].headingDisplay}
                    .pricing-header
                      p.price-value
                        |  !{dataV.data[i].pricingDisplay} 
                    .desc !{dataV.data[i].description}
                    -if(env.partnerData.has_no_subscription_details == "true"){
                      a(href="#{'/user/plan-details?planId='+dataV.data[i].id}&#{env.urlQueryParams ? env.urlQueryParams : ''}", class='js-btn-view-details', target="_blank") View Details
                    -}
                    br
                    -if(env.query['form-url']){
                      
                        button.btn.btn-common
                          a(href="#{env.query['form-url']}?redirecturl=#{encodeURIComponent(dataV.data[i].payment_url || '/user/user-cart?planId='+dataV.data[i].id)}&#{env.urlQueryParams ? env.urlQueryParams : ''}", class='js-btn-submit-purchase') Pay Now
                      
                    -} else {
                      button.btn.btn-common
                        a(href="#{dataV.data[i].payment_url || '/user/user-cart?planId='+dataV.data[i].id}&#{env.urlQueryParams ? env.urlQueryParams : ''}", class='js-btn-submit-purchase') Pay Now
                    -}
              -}
            -}
      
  
  
  