mixin textareaType(data)
	textarea(data-display-name="#{data.display_name}", placeHolder='#{data.display_name}', data-mandatry='#{data.is_mandatory}', data-validation='#{data.validation_type}', type='text',class="textarea_text use-google-translate1", name='val_#{data.id}' id='val_#{data.id}' value='#{data.display_name}') 