include ../../theme_loon/allMixin
extends ../../theme_loon/layout
block content
    
    div(class="boxed")
        include ../../theme_loon/partials/_header
        div.content#aboutus-page
            div.wrapper
                div#banner_area.banner_area
                    -if(data['banner_area'] && data['banner_area'].templateData && data['banner_area'].templateData.mixinName){
                        +#{data['banner_area'].templateData.mixinName}(data['banner_area'])
                    -} 
                div(class="clear-float")
                div.news-ticker-area#news_ticker_area
                    -if(data['news_ticker_area1'] && data['news_ticker_area'].templateData && data['news_ticker_area'].templateData.mixinName){
                        +#{data['news_ticker_area'].templateData.mixinName}(data['news_ticker_area'])
                    -}
                div(class="clear-float")
                #level_top_full
                    -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                        +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                    -}
                div(class="clear-float")
                div.main-content
                    div.main-page.left
                        div.single-block
                            div.content-block.main.left
                                .block
                                    .block-title
                                        a.right(href="#{env.partnerData.homePageRoot || '/'}") Back to homepage
                                        h2 Our Authors and Contributers
                                div(class="main-article-content")
                                    
                                    ul(class="article-block-big")
                                        -for(var i=0;i<env.partnerAuthorData.length;i++){
                                            -if(env.partnerAuthorData[i].name && env.partnerAuthorData[i].total_news){
                                                li
                                                    .article-photo
                                                        a.hover-effect(href='#{env.partnerAuthorData[i].url}')
                                                            div(class="cp-thumb")
                                                                img(src="#{env.partnerAuthorData[i].imageUrl}")
                                                    .article-content
                                                        h4
                                                            a(href='#{env.partnerAuthorData[i].url}') !{env.partnerAuthorData[i].name}
                                                            // a.h-comment(href='post.html#comments') 201
                                                        p ( #{env.partnerAuthorData[i].total_news} )
                                            -}
                                        -}                   

                    div.main-sidebar.right
                        include ../../theme_loon/partials/_othersRightSection
                    div(class="clear-float")
        
                div#level_bottom_full
                    -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                        +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                    -}
                div(class="clear-float")
        include ../../theme_loon/partials/_footer