include ../../theme_loon/allMixin
extends ../../theme_loon/layout
block content
    
    div(class="boxed")
        include ../../theme_loon/partials/_header
        div.content#aboutus-page
            div.wrapper
                div#banner_area.banner_area
                    -if(data['banner_area'] && data['banner_area'].templateData && data['banner_area'].templateData.mixinName){
                        +#{data['banner_area'].templateData.mixinName}(data['banner_area'])
                    -} 
                div(class="clear-float")
                div.news-ticker-area#news_ticker_area
                    -if(data['news_ticker_area1'] && data['news_ticker_area'].templateData && data['news_ticker_area'].templateData.mixinName){
                        +#{data['news_ticker_area'].templateData.mixinName}(data['news_ticker_area'])
                    -}
                div(class="clear-float")
                #level_top_full
                    -if(data['level_top_full'] && data['level_top_full'].templateData && data['level_top_full'].templateData.mixinName){
                        +#{data['level_top_full'].templateData.mixinName}(data['level_top_full'])
                    -}
                div(class="clear-float")
                div.main-content
                    .full-width
                        div#contact-us-page
                            div.single-block
                                    .block
                                        .block-title
                                            a.right(href="#{env.partnerData.homePageRoot || '/'}") Back to homepage
                                            h2 Contact Us
                                        .block-content
                                            
                                            .paragraph-row
                                                .column6
                                                    h2 K. Srinivasan

                                                    p Chairman and Mg. Trustee. 
                                                
                                                    p Prime Point Foundation. 
                                                    p Chennai, 600017, India
                                                    br
                                                    
                                                    a(href="http://www.primepointfoundation.in",target="_blank") www.primepointfoundation.in
                                                    br
                                                    a(href="http://www.corpezine.com",target="_blank") www.corpezine.com
                                                    br
                                                    p WhatsApp only : 9176650273
                                                    p Email 
                                                        a(href="mailto:prpoint@gmail.com") prpoint@gmail.com
                                                      
                                                .column6
                                                    #writecomment
                                                        
                                                        form.contact-us-form
                                                            #success-common.error.common-error.coloralert(style='display:none;')
                                                                div(class="coloralert", style="background: #68a117;")
                                                                    p Error!
                                                                    a(href="#close-alert", class="icon-text") &#10006;
                                                            #err-common.error.common-error(style='display:none;')
                                                            div(class="coloralert", style="background: #68a117;")
                                                                p Success!
                                                                a(href="#close-alert", class="icon-text") &#10006;
                                                            p.contact-form-user
                                                                label(for='name')
                                                                    | Name
                                                                    span.required *
                                                                input#name(type='text', placeholder='Nickname', name='name')
                                                                #err-name.error.contact-us-error.left-align(style='display:none;') Please enter your name.
                                                            p.contact-form-email
                                                                label(for='email')
                                                                    | E-mail
                                                                    span.required *
                                                                input#email(type='text', placeholder='E-mail', name='email')
                                                                #err-email.contact-us-error.error.left-align(style='display:none;') Please enter your email.
                                                            p.contact-form-subject
                                                                label(for='subject')
                                                                    | Subject
                                                                    span.required *
                                                                input#subject(type='text', placeholder='Subject', name='subject')
                                                                #err-subject.contact-us-error.error.left-align(style='display:none;') Please enter your email.

                                                            p.contact-form-message
                                                                label(for='message')
                                                                    | Message
                                                                    span.required *
                                                                textarea#message(name='message', placeholder='Your message..')
                                                                #err-message.contact-us-error.error.left-align(style='display:none;') Please enter a subject.
                                                        p
                                                          input.styled-button.js-btn-submit-contact(type='submit', value='Send a message')
                                          
                                            //- .map-border
                                            //-     .google-maps
                                            //-         iframe(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=new+york&aq=&sll=37.0625,-95.677068&sspn=63.897228,135.263672&ie=UTF8&hq=&hnear=New+York&t=m&z=11&iwloc=A&output=embed')
                                            //- .clear-float

                                        // END .wrapper
                                      // BEGIN .content

                    //- div.main-sidebar.right
                    //-     include ../../theme_loon/partials/_othersRightSection
                    div(class="clear-float")
        
                div#level_bottom_full
                    -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                        +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                    -}
                div(class="clear-float")
        include ../../theme_loon/partials/_footer