include ../../theme_fox/allMixin

extends ../../theme_fox/layout
block content
    div.wrapper#all-authors-page(data-role="page")
        include ../../theme_fox/partials/_headerWrapper

        //- div#top_full_carousel
        //-   -if(data['top_full_carousel'] && data['top_full_carousel'].templateData && data['top_full_carousel'].templateData.mixinName){
        //-         +#{data['top_full_carousel'].templateData.mixinName}(data['top_full_carousel'])
        //-   -}
        div(class="main-content")
            div(class="container")
                div(class="row")
                    div(class="col-md-8")
                        .cp-single-post
    
                            include ../../theme_fox/partials/_websiteCurrentTags
                            include ../../theme_fox/partials/_breadcrumb
                            div(class="cp-post-content")
                                h1 सभी लेखक
                                div.clear
                            #left_level_1.left_level_1

                            #left_level_2.left_level_2
                            .details-content-story
                                div(class="cp-authors")
                                    div(class="row")
                                      ul(class="cp-authors-grid pintrest-style-grid")
                                        -for(var i=0;i<env.partnerAuthorData.length;i++){
                                            -if(env.partnerAuthorData[i].total_news && env.partnerAuthorData[i].total_news>=0){
                                                li(class="clearfix")
                                                    a(href="#{env.partnerAuthorData[i].url}",class="cp-author-box")
                                                        div(class="cp-thumb")
                                                            img(src="#{env.partnerAuthorData[i].imageUrl}")
                                                        h3  #{env.partnerAuthorData[i].name}
                                                        p ( #{env.partnerAuthorData[i].total_news} )
                                            -}
                                              
                                        -}
                            #left_level_3.right_level_3
                            
                            #left_level_4.right_level_4
                                  
                    div(class="col-md-4")
                        .sidebar.side-bar.right-sidebar
                            include ../../theme_fox/partials/_staticRightSection
                div(class="row")
                    div(class="col-lg-12 col-md-12 col-sm-12")
                        #level_bottom_full
                            -if(data['level_bottom_full'] && data['level_bottom_full'].templateData && data['level_bottom_full'].templateData.mixinName){
                                +#{data['level_bottom_full'].templateData.mixinName}(data['level_bottom_full'])
                            -}
        include ../../theme_fox/partials/_footer